---
import { Icon } from "astro-icon/components";
import Badge from "../Badge.astro";
import Card from "../Card.astro";
import Button from "../Button.astro";
import { getEntries } from "astro:content";
import type { CollectionEntry } from 'astro:content';

interface Props {
  service: CollectionEntry<'layanan' | 'layanan-item'>;
  level?: number,
  size?: 'md' | 'sm'
}

const { level = 3, size = 'md', service } = Astro.props

const Title = `h${level}`

const badgeSize = {
    md: 'lg',
    sm: 'md'
}[size]
const titleSize = {
    md: 'text-2xl',
    sm: 'text-xl'
}[size]
const priceSize = {
    md: 'text-5xl',
    sm: 'text-4xl'
}[size]

const items: CollectionEntry<'layanan-item'>[] = service.data.items
    ? await getEntries(service.data.items)
    : []
---

<Card>
    <div class="h-full flex flex-col justify-between gap-4">
        <div class="space-y-4">
            <Badge icon={service.data.icon} circle size={badgeSize} color="red" />
            <Title {...{ class: `font-bold text-neutral-900 ${titleSize}` }}>
                <a href=`/layanan/${service.id}`>{service.data.title}</a>
            </Title>
            <p class="leading-normal text-neutral-600">{service.data.description}</p>
            {items && <ul class="space-y-1 text-neutral-600">
                {items.map(item => <li class="flex items-center gap-x-2.5">
                    <Icon name={item.data.icon} class="w-4 h-4" />
                    {item.data.title}
                </li>)}
            </ul>}
        </div>
        <div class="space-y-4">
            <p class="text-neutral-600">Mulai Dari</p>
            <div class="flex items-center justify-between">
                <p class={`${priceSize} font-bold text-red-600 leading-none`}>{service.data.startFrom}</p>
                <Button tag="a" href={`${service.data.link}#pesan`} color="red" size={size}>Pesan Sekarang</Button>
            </div>
        </div>
    </div>
</Card>