---
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import Container from '../../../components/app/Container.astro';
import Card from '../../../components/app/Card.astro';
import { Icon } from 'astro-icon/components';
import { render } from 'astro:content';
import Link from '../../../components/app/Link.astro';
import Button from '../../../components/app/Button.astro';
import Badge from '../../../components/app/Badge.astro';
import Breadcrumb from '../../../components/app/Breadcrumb.astro';
import { getCourseItems } from '../../../utils/course'

export async function getStaticPaths() {
    const courses = await getCollection('course', course => course.data.publishedAt)

    return courses.map(course => ({
        params: { id: course.id },
        props: { course }
    }))
}

const { course } = Astro.props
const { Content } = await render(course)

const items = await getCourseItems(course)
---

<Layout navbarBordered title={course.data.title} description={course.data.description}>
    <Container class="py-8 space-y-4">
        <Breadcrumb
            links={[
                { href: '/courses', name: 'Belajar' }
            ]}
            active={course.data.title}
        />
        <main class="grid gap-4 items-start lg:grid-cols-2">
            <Card tag='article'>
                <div class="prose max-w-none">
                    <p class="flex items-center justify-between">
                        <Badge>{items.length} materi</Badge>
                        <Icon name={course.data.icon} size={32} class="shrink-0" />
                    </p>
                    <h1>
                        {course.data.title}
                    </h1>
                    <Content />
                    {items.length > 0 && <Button class='no-underline' icon='tabler:arrow-right' tag='a' href={`/courses/${course.id}/${items[0].id}`}>Mulai Belajar</Button>}
                </div>
            </Card>
            <Card tag='aside'>
                <h2 class="font-bold text-2xl text-gray-900 mb-4">Daftar Materi</h2>
                <ol class="space-y-2">
                    {items.map((item, index) => <li class="bg-gray-50 border border-gray-300 rounded-lg px-3 py-2.5">
                        {new Date > new Date(item.data.publishedAt!)
                            ? <Link href={`/courses/${course.id}/${item.id}`}>{index + 1}. {item.data.title}</Link>
                            : <p class="flex items-center justify-between">
                                <span class="text-gray-900 opacity-50">{index + 1}. {item.data.title}</span>
                                <Badge color='warning'>Coming Soon</Badge>
                            </p>
                        }
                    </li>)}
                </ol>
            </Card>
        </main>
    </Container>
</Layout>