---
import { Icon } from 'astro-icon/components'
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CourseCard from '../components/CourseCard.astro';
import TutorialCard from '../components/TutorialCard.astro';
import BookCard from '../components/BookCard.astro';
import VideoCard from '../components/VideoCard.astro';
import ArticleCard from '../components/ArticleCard.astro';
import Subscribe from '../components/Subscribe.astro';
import Footer from '../components/Footer.astro';
import Container from '../components/app/Container.astro';

const courses = [
	{
		name: 'Belajar HTML Dasar',
		description: 'Mengenal HTML dari nol sampai bisa membuat web sederhana',
		level: 'beginner',
		icon: 'logos:html-5'
	},
	{
		name: 'Belajar CSS Dasar',
		description: 'Mengenal CSS dari nol sampai bisa memberikan style sederhana pada web',
		level: 'beginner',
		icon: 'logos:css-3'
	},
	{
		name: 'Belajar Javascript Dasar',
		description: 'Menggunakan Javascript sampai bisa membuat web yang interaktif',
		level: 'beginner',
		icon: 'logos:javascript'
	},
	{
		name: 'Belajar PHP Dasar',
		description: 'Menggunakan PHP sampai bisa menampilkan dan memproses data di web',
		level: 'beginner',
		icon: 'logos:php'
	}
]

const tutorials = [
	{
		name: 'Membuat Web Portofolio dengan HTML dan CSS',
		tags: ['html', 'css'],
		description: 'Belajar membuat web portofolio pribadi',
		level: 'beginner',
		thumbnailUrl: 'https://placehold.co/600x338/?text=Belajar+PHP+Dasar&font=Montserrat'
	},
	{
		name: 'Membuat Cart Toko Online dengan Javascript',
		tags: ['javascript'],
		description: 'Belajar membuat cart untuk web toko online',
		level: 'beginner',
		thumbnailUrl: 'https://placehold.co/600x338/?text=Belajar+PHP+Dasar&font=Montserrat'
	},
	{
		name: 'Membuat CRUD dengan PHP dan MySQL',
		tags: ['php', 'mysql'],
		description: 'Belajar mengolah data dengan PHP dan MySQL',
		level: 'beginner',
		thumbnailUrl: 'https://placehold.co/600x338/?text=Belajar+PHP+Dasar&font=Montserrat'
	},
	{
		name: 'Membuat Login dan Register dengan Vue dan Laravel',
		tags: ['vue', 'laravel'],
		description: 'Belajar membuat sistem autentikasi dengan Vue dan Laravel',
		level: 'beginner',
		thumbnailUrl: 'https://placehold.co/600x338/?text=Belajar+PHP+Dasar&font=Montserrat'
	}
]

const books = [
	{
		title: 'Belajar HTML Dasar',
		coverUrl: 'https://placehold.co/300x450/red/white?text=Belajar+HTML+Dasar&font=Playfair+Display',
		price: 0
	},
	{
		title: 'Belajar CSS Dasar',
		coverUrl: 'https://placehold.co/300x450/blue/white?text=Belajar+CSS+Dasar&font=Oswald',
		price: 0
	},
	{
		title: 'Belajar Javascript Dasar',
		coverUrl: 'https://placehold.co/300x450/yellow/black/?text=Belajar+Javascript+Dasar&font=Poppins',
		price: 0
	},
	{
		title: 'Belajar PHP Dasar',
		coverUrl: 'https://placehold.co/300x450/purple/white/?text=Belajar+PHP+Dasar&font=Montserrat',
		price: 0
	},
	{
		title: 'Belajar PHP Dasar',
		coverUrl: 'https://placehold.co/300x450/purple/white/?text=Belajar+PHP+Dasar&font=Montserrat',
		price: 145000
	},
	{
		title: 'Belajar PHP Dasar',
		coverUrl: 'https://placehold.co/300x450/purple/white/?text=Belajar+PHP+Dasar&font=Montserrat',
		price: 0
	}
]

const videos = [
	{
		title: 'Tutorial Membuat Blog dengan Laravel',
		url: 'https://www.youtube.com/embed/tgbNymZ7vqY'
	},
	{
		title: 'Membuat REST API di Laravel',
		url: 'https://www.youtube.com/embed/tgbNymZ7vqY'
	},
	{
		title: 'Validasi Form di Vue',
		url: 'https://www.youtube.com/embed/tgbNymZ7vqY'
	},
	{
		title: 'Membuat Halaman Login di React Native',
		url: 'https://www.youtube.com/embed/tgbNymZ7vqY'
	}
]

const articles = [
	{
		title: 'Cara Membuat Komponen Dinamis di Vue',
		description: 'Kita bisa membuat komponen yang dirender dinamis, misalnya pada komponen tab',
		thumbnailUrl: 'https://placehold.co/600x338/?text=Belajar+PHP+Dasar&font=Montserrat',
		category: 'vue'
	},
	{
		title: 'Menggunakan Semantic Element untuk Optimasi SEO',
		description: 'Semantic Element di HTML bisa meningkatkan kualitas SEO website kita',
		thumbnailUrl: 'https://placehold.co/600x338/?text=Belajar+PHP+Dasar&font=Montserrat',
		category: 'html'
	},
	{
		title: 'Global State di Vue',
		description: 'Global state adalah state yang bisa diakses di tempat mana saja, seperti state autentikasi',
		thumbnailUrl: 'https://placehold.co/600x338/?text=Belajar+PHP+Dasar&font=Montserrat',
		category: 'vue'
	},
	{
		title: 'Tutorial Menghubungkan RajaOngkir di Laravel',
		description: 'RajaOngkir adalah third party yang menyediakan API untuk mengecek ongkir dari ekspedisi pengiriman',
		thumbnailUrl: 'https://placehold.co/600x338/?text=Belajar+PHP+Dasar&font=Montserrat',
		category: 'laravel'
	}
]
---

<Layout>
	<Navbar />
	<Header />

	<Container tag="main" class="py-20 space-y-20">
		<section class="space-y-4">
			<div class="flex items-center justify-between">
				<div class="space-y-2">
					<h2 class="font-bold text-4xl text-gray-900">Mau belajar apa?</h2>
					<p class="text-lg text-gray-700">Kami menyediakan beragam kelas belajar pemrograman lengkap.</p>
				</div>
				<a href="" class="bg-red-900 text-white font-medium h-10 px-4 flex items-center rounded-lg gap-2">
					Lihat Semua
					<Icon name="tabler:arrow-right" />
				</a>
			</div>

			<div class="grid grid-cols-2 gap-4">
				{courses.map(course => <CourseCard course={course} />)}
			</div>
		</section>
		<section class="space-y-4">
			<div class="flex items-center justify-between">
				<div class="space-y-2">
					<h2 class="font-bold text-4xl text-gray-900">Ikuti tutorial terbaru</h2>
					<p class="text-lg text-gray-700">Belajar pemrograman dengan langusng terjun ke studi kasus tertentu.</p>
				</div>
				<a href="" class="bg-red-900 text-white font-medium h-10 px-4 flex items-center rounded-lg gap-2">
					Lihat Semua
					<Icon name="tabler:arrow-right" />
				</a>
			</div>
			
			<div class="grid grid-cols-4 gap-4">
				{tutorials.map(tutorial => <TutorialCard tutorial={tutorial} />)}
			</div>
		</section>
		<section class="space-y-4">
			<div class="flex items-center justify-between">
				<div class="space-y-2">
					<h2 class="font-bold text-4xl text-gray-900">Baca buku pemrograman</h2>
					<p class="text-lg text-gray-700">Ingin lebih fokus? baca buku-buku pemrograman cetak dan ebook kami.</p>
				</div>
				<a href="" class="bg-red-900 text-white font-medium h-10 px-4 flex items-center rounded-lg gap-2">
					Lihat Semua
					<Icon name="tabler:arrow-right" />
				</a>
			</div>

			<div class="grid grid-cols-6 gap-4">
				{books.map(book => <BookCard book={book} />)}
			</div>
		</section>
		<section class="space-y-4">
			<div class="flex items-center justify-between">
				<div class="space-y-2">
					<h2 class="font-bold text-4xl text-gray-900">Tonton video Terbaru</h2>
					<p class="text-lg text-gray-700">Bosan baca tulisan terus? baca video tentang pemrograman kami di Youtube</p>
				</div>
				<a href="" class="bg-red-900 text-white font-medium h-10 px-4 flex items-center rounded-lg gap-2">
					Lihat Semua
					<Icon name="tabler:arrow-right" />
				</a>
			</div>

			<div class="grid grid-cols-4 gap-4">
				{videos.map(video => <VideoCard video={video} />)}
			</div>
		</section>
		<section class="space-y-4">
			<div class="flex items-center justify-between">
				<div class="space-y-2">
					<h2 class="font-bold text-4xl text-gray-900">Baca artikel Terbaru</h2>
					<p class="text-lg text-gray-700">Tulisan terbaru berisi berita, tips dan trik dan solusi solusi koding</p>
				</div>
				<a href="" class="bg-red-900 text-white font-medium h-10 px-4 flex items-center rounded-lg gap-2">
					Lihat Semua
					<Icon name="tabler:arrow-right" />
				</a>
			</div>

			<div class="grid grid-cols-4 gap-4">
				{articles.map(article => <ArticleCard article={article} />)}
			</div>
		</section>
	</Container>
	<Subscribe />
	<Footer />
</Layout>
