---
import MembuatWebPortofolioHtmlCss from '../assets/tutorials/membuat-web-portofolio-html-css/thumbnail.png'
import MembuatWebTodoListJavascript from '../assets/tutorials/membuat-web-todo-list-javascript/thumbnail.png'
import MembuatSistemCrudPhpMysql from '../assets/tutorials/membuat-sistem-crud-php-mysql/thumbnail.png'
import MembuatFormLoginRegisterLaravelVue from '../assets/tutorials/membuat-form-login-register-laravel-vue/thumbnail.png'
import BelajarHtmlCssJavascriptDasar from '../assets/books/belajar-html-css-js-dasar.png'
import BelajarVueJsSampaiMahir from '../assets/books/belajar-vuejs-sampai-mahir.png'
import MenguasaiMysqlSampaiMahir from '../assets/books/menguasai-mysql-sampai-mahir.png'
import BelajarLaravelSampaiMahir from '../assets/books/belajar-laravel-sampai-mahir.png'
import MembangunAplikasiperpustakaanDenganPhp from '../assets/books/membangun-aplikasi-perpustakaan-dengan-php.png'
import MembangunTokoOnlineDenganLaravel from '../assets/books/membangun-toko-online-dengan-laravel.png'
import CaraMembuatKomponenDinamisDiVue from '../assets/articles/cara-membuat-komponen-dinamis-di-vue.png'
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CourseCard from '../components/CourseCard.astro';
import TutorialCard from '../components/TutorialCard.astro';
import BookCard from '../components/BookCard.astro';
import VideoCard from '../components/VideoCard.astro';
import ArticleCard from '../components/ArticleCard.astro';
import Subscribe from '../components/Subscribe.astro';
import Footer from '../components/Footer.astro';
import Container from '../components/app/Container.astro';
import Section from '../components/app/Section.astro';
import Button from '../components/app/Button.astro';

const courses = [
	{
		name: 'Belajar HTML Dasar',
		description: 'Mengenal HTML dari nol sampai bisa membuat web sederhana.',
		icon: 'logos:html-5',
		itemsQty: 12
	},
	{
		name: 'Belajar CSS Dasar',
		description: 'Mengenal CSS dari nol sampai bisa memberikan style sederhana pada web.',
		icon: 'logos:css-3',
		itemsQty: 20
	},
	{
		name: 'Belajar Javascript Dasar',
		description: 'Mengenal Javascript dari nol sampai bisa menambahkan interaksi sederhana pada web.',
		icon: 'logos:javascript',
		itemsQty: 14
	},
	{
		name: 'Belajar PHP Dasar',
		description: 'Mengenal PHP dari nol sampai bisa menampilkan dan memproses data di web.',
		icon: 'logos:php',
		itemsQty: 15
	},
	{
		name: 'Belajar MySQL Dasar',
		description: 'Mengenal databse MySQL dari nol sampai bisa mengolah dan menampilkan data di database.',
		icon: 'logos:mysql',
		itemsQty: 10
	},
	{
		name: 'Belajar Tailwind CSS Dasar',
		description: 'Mengenal Tailwind CSS dari nol sampai bisa mendesain web sederhana tanpa menulis CSS.',
		icon: 'logos:tailwindcss-icon',
		itemsQty: 8
	},
	{
		name: 'Belajar Laravel Dasar',
		description: 'Mengenal Laravel dari nol sampai bisa membuat web dinamis berbasis PHP.',
		icon: 'logos:laravel',
		itemsQty: 11
	},
	{
		name: 'Belajar Vue JS Dasar',
		description: 'Mengenal Vue JS dari nol sampai bisa membuat web statis yang interaktif.',
		icon: 'logos:vue',
		itemsQty: 14
	}
]

const tutorials = [
	{
		name: 'Membuat Web Portofolio dengan HTML dan CSS',
		tags: ['html', 'css'],
		description: 'Belajar membuat web untuk menampilkan karya-karya pribadimu menggunakan HTML dan CSS.',
		level: 'beginner',
		thumbnailSrc: MembuatWebPortofolioHtmlCss,
		itemsCount: 20
	},
	{
		name: 'Membuat Web Todo List dengan Javascript',
		tags: ['javascript'],
		description: 'Belajar membuat aplikasi web untuk mengelola daftar aktifitas yang ingin dilakukan dengan JavaScript.',
		level: 'beginner',
		thumbnailSrc: MembuatWebTodoListJavascript,
		itemsCount: 15
	},
	{
		name: 'Membuat Sistem CRUD dengan PHP dan MySQL',
		tags: ['php', 'mysql'],
		description: 'Belajar mengolah data dengan metode CRUD (create, read, update, dan delete) dengan PHP dan MySQL.',
		level: 'beginner',
		thumbnailSrc: MembuatSistemCrudPhpMysql,
		itemsCount: 14
	},
	{
		name: 'Membuat Form Login dan Register dengan Vue dan Laravel',
		tags: ['vue', 'laravel'],
		description: 'Belajar membuat form untuk autentikasi dan pendaftaran pengguna dengan Vue dan Laravel.',
		level: 'beginner',
		thumbnailSrc: MembuatFormLoginRegisterLaravelVue,
		itemsCount: 17
	}
]

const books = [
	{
		title: 'Belajar HTML, CSS, dan Javascript Dasar',
		coverSrc: BelajarHtmlCssJavascriptDasar,
		price: 0
	},
	{
		title: 'Belajar Vue JS Sampai Mahir',
		coverSrc: BelajarVueJsSampaiMahir,
		price: 80000
	},
	{
		title: 'Menguasai MySQL Sampai Mahir',
		coverSrc: MenguasaiMysqlSampaiMahir,
		price: 80000
	},
	{
		title: 'Belajar Laravel Sampai Mahir',
		coverSrc: BelajarLaravelSampaiMahir,
		price: 100000
	},
	{
		title: 'Membangun Aplikasi Perpustakaan dengan PHP',
		coverSrc: MembangunAplikasiperpustakaanDenganPhp,
		price: 40000
	},
	{
		title: 'Membangun Toko Online dengan Laravel',
		coverSrc: MembangunTokoOnlineDenganLaravel,
		price: 145000
	}
]

const videos = [
	{
		title: 'Tutorial Membuat Blog dengan Laravel',
		url: 'https://www.youtube.com/embed/nhBVL41-_Cw?si=xyqm0eKQu2tzDbF0'
	},
	{
		title: 'Membuat REST API di Laravel',
		url: 'https://www.youtube.com/embed/zROpI35swtg?si=AYpDHBzm8XxhanlM'
	},
	{
		title: 'Validasi Form di Vue',
		url: 'https://www.youtube.com/embed/VldVWN2i710?si=Mn8wXD4M4rMJCv4E'
	},
	{
		title: 'Membuat Halaman Login di React Native',
		url: 'https://www.youtube.com/embed/V9i3cGD-mts?si=8LiPVCKN-Kd_jf8O'
	}
]

const articles = [
	{
		title: 'Cara Membuat Komponen Dinamis di Vue',
		description: 'Kita bisa membuat komponen yang dirender dinamis, misalnya pada komponen tab',
		thumbnailSrc: CaraMembuatKomponenDinamisDiVue,
		category: 'vue'
	},
	{
		title: 'Menggunakan Semantic Element untuk Optimasi SEO',
		description: 'Semantic Element di HTML bisa meningkatkan kualitas SEO website kita',
		thumbnailSrc: CaraMembuatKomponenDinamisDiVue,
		category: 'html'
	},
	{
		title: 'Global State di Vue',
		description: 'Global state adalah state yang bisa diakses di tempat mana saja, seperti state autentikasi',
		thumbnailSrc: CaraMembuatKomponenDinamisDiVue,
		category: 'vue'
	},
	{
		title: 'Tutorial Menghubungkan RajaOngkir di Laravel',
		description: 'RajaOngkir adalah third party yang menyediakan API untuk mengecek ongkir dari ekspedisi pengiriman',
		thumbnailSrc: CaraMembuatKomponenDinamisDiVue,
		category: 'laravel'
	}
]
---

<Layout>
	<Navbar />
	<Header />

	<Container tag="main" class="py-20 space-y-20">
		<Section title='Mau Belajar Apa?' description='Telusuri dan pilih dari beragam kelas belajar pemrograman lengkap sesuai kebutuhan Anda.'>
			<Button slot="action" tag='a' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid grid-cols-4 gap-4">
				{courses.map(course => <CourseCard course={course} />)}
			</div>
		</Section>
		<Section title='Ikuti Tutorial Terbaru' description='Belajar pemrograman dengan praktek langsung terjun ke studi kasus tertentu.'>
			<Button slot="action" tag='a' icon='tabler:arrow-right'>Lihat Semua</Button>
			
			<div class="grid grid-cols-4 gap-4">
				{tutorials.map(tutorial => <TutorialCard tutorial={tutorial} />)}
			</div>
		</Section>
		<Section title='Baca Buku Pemrograman' description='Ingin lebih fokus? Baca buku cetak dan ebook seputaran pemrograman kami.'>
			<Button slot="action" tag='a' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid grid-cols-6 gap-4">
				{books.map(book => <BookCard book={book} />)}
			</div>
		</Section>
		<Section title='Tonton Video Terbaru' description='Bosan baca tulisan terus? Tonton video tentang pemrograman kami di Youtube.'>
			<Button slot="action" tag='a' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid grid-cols-4 gap-4">
				{videos.map(video => <VideoCard video={video} />)}
			</div>
		</Section>
		<Section title='Baca Artikel Terbaru' description='Terus update dengan membaca artikel-artikel seputar pemrograman dan teknologi.'>
			<Button slot="action" tag='a' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid grid-cols-4 gap-4">
				{articles.map(article => <ArticleCard article={article} />)}
			</div>
		</Section>
	</Container>
	<Subscribe />
	<Footer />
</Layout>
