---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CourseCard from '../components/CourseCard.astro';
import TutorialCard from '../components/TutorialCard.astro';
import BookCard from '../components/BookCard.astro';
import VideoCard from '../components/VideoCard.astro';
import ArticleCard from '../components/ArticleCard.astro';
import Subscribe from '../components/Subscribe.astro';
import Footer from '../components/Footer.astro';
import Container from '../components/app/Container.astro';
import Section from '../components/app/Section.astro';
import Button from '../components/app/Button.astro';
import { getCollection } from 'astro:content'

const courses = await getCollection('course')
const tutorials = await getCollection('tutorial')
const books = await getCollection('book')
const videos = await getCollection('video')
const articles =  await getCollection('article', article => article.data.type === 'article')
---

<Layout>
	<Header />

	<Container tag="main" class="py-20 space-y-20">
		<Section id='courses' title='Mau Belajar Apa?' description='Telusuri dan pilih dari beragam kelas belajar pemrograman lengkap sesuai kebutuhan Anda.'>
			<Button slot="action" tag='a' href='/courses' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
				{courses.map(course => <CourseCard course={course} />)}
			</div>
		</Section>
		<Section title='Ikuti Tutorial Terbaru' description='Belajar pemrograman dengan praktek langsung terjun ke studi kasus tertentu.'>
			<Button slot="action" tag='a' href='/tutorials' icon='tabler:arrow-right'>Lihat Semua</Button>
			
			<div class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
				{tutorials.map(tutorial => <TutorialCard tutorial={tutorial} />)}
			</div>
		</Section>
		<Section title='Baca Buku Pemrograman' description='Ingin lebih fokus? Baca buku cetak dan ebook seputar pemrograman kami.'>
			<Button slot="action" tag='a' href='/books' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid gap-4 md:grid-cols-3 xl:grid-cols-6">
				{books.map(book => <BookCard book={book} />)}
			</div>
		</Section>
		<Section title='Tonton Video Terbaru' description='Bosan baca tulisan terus? Tonton video tentang pemrograman kami di Youtube.'>
			<Button slot="action" tag='a' href='/videos' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
				{videos.map(video => <VideoCard video={video} />)}
			</div>
		</Section>
		<Section title='Baca Artikel Terbaru' description='Terus update dengan membaca artikel-artikel seputar pemrograman dan teknologi.'>
			<Button slot="action" tag='a' href='/articles' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
				{articles.map(article => <ArticleCard article={article} />)}
			</div>
		</Section>
	</Container>
	<Subscribe />
	<Footer />
</Layout>
