---
import BelajarHtmlCssJavascriptDasar from '../assets/books/belajar-html-css-js-dasar.png'
import BelajarVueJsSampaiMahir from '../assets/books/belajar-vuejs-sampai-mahir.png'
import MenguasaiMysqlSampaiMahir from '../assets/books/menguasai-mysql-sampai-mahir.png'
import BelajarLaravelSampaiMahir from '../assets/books/belajar-laravel-sampai-mahir.png'
import MembangunAplikasiperpustakaanDenganPhp from '../assets/books/membangun-aplikasi-perpustakaan-dengan-php.png'
import MembangunTokoOnlineDenganLaravel from '../assets/books/membangun-toko-online-dengan-laravel.png'
import CaraMembuatKomponenDinamisDiVue from '../assets/articles/cara-membuat-komponen-dinamis-di-vue.png'
import MenggunakanSemanticElementSeo from '../assets/articles/menggunakan-semantic-element-seo.png'
import CaraMembuatGlobalStateVue from '../assets/articles/cara-membuat-global-state-vue.png'
import TutorialMenghubungkanRajaOngkirLaravel from '../assets/articles/tutorial-menghubungkan-rajaOngkir-laravel.png'
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CourseCard from '../components/CourseCard.astro';
import TutorialCard from '../components/TutorialCard.astro';
import BookCard from '../components/BookCard.astro';
import VideoCard from '../components/VideoCard.astro';
import ArticleCard from '../components/ArticleCard.astro';
import Subscribe from '../components/Subscribe.astro';
import Footer from '../components/Footer.astro';
import Container from '../components/app/Container.astro';
import Section from '../components/app/Section.astro';
import Button from '../components/app/Button.astro';
import { getCollection } from 'astro:content'

const courses = await getCollection('course')

const tutorials = await getCollection('tutorial')

const books = [
	{
		title: 'Belajar HTML, CSS, dan Javascript Dasar',
		coverSrc: BelajarHtmlCssJavascriptDasar,
		price: 0
	},
	{
		title: 'Belajar Vue JS Sampai Mahir',
		coverSrc: BelajarVueJsSampaiMahir,
		price: 80000
	},
	{
		title: 'Menguasai MySQL Sampai Mahir',
		coverSrc: MenguasaiMysqlSampaiMahir,
		price: 80000
	},
	{
		title: 'Belajar Laravel Sampai Mahir',
		coverSrc: BelajarLaravelSampaiMahir,
		price: 100000
	},
	{
		title: 'Membangun Aplikasi Perpustakaan dengan PHP',
		coverSrc: MembangunAplikasiperpustakaanDenganPhp,
		price: 40000
	},
	{
		title: 'Membangun Toko Online dengan Laravel',
		coverSrc: MembangunTokoOnlineDenganLaravel,
		price: 145000
	}
]

const videos = [
	{
		name: 'Tutorial Membuat Blog dengan Laravel',
		url: 'https://www.youtube.com/embed/nhBVL41-_Cw?si=xyqm0eKQu2tzDbF0'
	},
	{
		name: 'Membuat REST API di Laravel',
		url: 'https://www.youtube.com/embed/zROpI35swtg?si=AYpDHBzm8XxhanlM'
	},
	{
		name: 'Validasi Form di Vue',
		url: 'https://www.youtube.com/embed/VldVWN2i710?si=Mn8wXD4M4rMJCv4E'
	},
	{
		name: 'Membuat Halaman Login di React Native',
		url: 'https://www.youtube.com/embed/V9i3cGD-mts?si=8LiPVCKN-Kd_jf8O'
	}
]

const articles = [
	{
		title: 'Cara Membuat Komponen Dinamis di Vue JS',
		description: 'Di Vue, kita bisa membuat komponen yang dirender dinamis sesuai kondisi tertentu.',
		thumbnailSrc: CaraMembuatKomponenDinamisDiVue,
		category: 'vue'
	},
	{
		title: 'Menggunakan Semantic Element untuk Optimasi SEO',
		description: 'Semantic Element di HTML bisa meningkatkan kualitas SEO website kita.',
		thumbnailSrc: MenggunakanSemanticElementSeo,
		category: 'html'
	},
	{
		title: 'Cara Membuat Global State di Vue JS',
		description: 'Global state adalah state yang bisa diakses di tempat mana saja pada aplikasi Vue. Contohnya state autentikasi.',
		thumbnailSrc: CaraMembuatGlobalStateVue,
		category: 'vue'
	},
	{
		title: 'Tutorial Menghubungkan RajaOngkir di Laravel',
		description: 'RajaOngkir adalah third party yang menyediakan API untuk mengecek ongkir dari bebrapa ekspedisi pengiriman.',
		thumbnailSrc: TutorialMenghubungkanRajaOngkirLaravel,
		category: 'laravel'
	}
]
---

<Layout>
	<Navbar />
	<Header />

	<Container tag="main" class="py-20 space-y-20">
		<Section title='Mau Belajar Apa?' description='Telusuri dan pilih dari beragam kelas belajar pemrograman lengkap sesuai kebutuhan Anda.'>
			<Button slot="action" tag='a' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
				{courses.map(course => <CourseCard course={course} />)}
			</div>
		</Section>
		<Section title='Ikuti Tutorial Terbaru' description='Belajar pemrograman dengan praktek langsung terjun ke studi kasus tertentu.'>
			<Button slot="action" tag='a' icon='tabler:arrow-right'>Lihat Semua</Button>
			
			<div class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
				{tutorials.map(tutorial => <TutorialCard tutorial={tutorial} />)}
			</div>
		</Section>
		<Section title='Baca Buku Pemrograman' description='Ingin lebih fokus? Baca buku cetak dan ebook seputaran pemrograman kami.'>
			<Button slot="action" tag='a' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid gap-4 md:grid-cols-3 xl:grid-cols-6">
				{books.map(book => <BookCard book={book} />)}
			</div>
		</Section>
		<Section title='Tonton Video Terbaru' description='Bosan baca tulisan terus? Tonton video tentang pemrograman kami di Youtube.'>
			<Button slot="action" tag='a' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
				{videos.map(video => <VideoCard video={video} />)}
			</div>
		</Section>
		<Section title='Baca Artikel Terbaru' description='Terus update dengan membaca artikel-artikel seputar pemrograman dan teknologi.'>
			<Button slot="action" tag='a' icon='tabler:arrow-right'>Lihat Semua</Button>

			<div class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
				{articles.map(article => <ArticleCard article={article} />)}
			</div>
		</Section>
	</Container>
	<Subscribe />
	<Footer />
</Layout>
