---
import { Icon } from 'astro-icon/components'
import Card from './app/Card.astro'
import Link from './app/Link.astro'
import Badge from './app/Badge.astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'

interface Props {
    course: CollectionEntry<'course'>,
    level?: 2 | 3
}

const { course, level = 3 } = Astro.props
const Title: 'h2' | 'h3' = `h${level}`
const itemsLength: number = (await getCollection('article', article => article.data.course?.id === course.id && article.data.publishedAt)).length
---

<Card class="space-y-2">
    <Title class="flex items-start gap-2 font-bold text-lg text-gray-900">
        <Icon name={course.data.icon} size={20} class="mt-1.5 shrink-0" />
        <Link href={`/courses/${course.id}`}>{course.data.title}</Link>
    </Title>
    <p class="text-gray-700">{course.data.description}</p>
    <Badge>{itemsLength} Materi</Badge>
</Card>