---
import { Icon } from "astro-icon/components";
import Button from './Button.astro'

const menus = [
    {
        id: 'layanan',
        name: 'Layanan',
        children: [
            {
                name: 'Pembuatan Website',
                icon: 'tabler/desktop',
                description: 'Mulai dari 100k'
            },
            {
                name: 'Pembuatan Aplikasi',
                icon: 'tabler/mobile',
                description: 'Mulai dari 200k'
            }
        ]
    },
    {
        name: 'Produk'
    },
    {
        name: 'Fitur'
    }
]
---

<nav class="sm:h-20 w-full py-4 sm:p-0 flex items-center bg-white relative">
    <div class="wrapper flex items-center justify-between">
        <a href="" class="text-blue-600 hover:text-blue-700">
            <Icon name="tabler/rocket" class="w-8 h-8" />
        </a>
        <button class="group sm:hidden" data-toggle="#mobile-navbar-menu">
            <Icon name="tabler/menu" class="block w-6 h-6 text-neutral-600 hover:text-neutral-900 group-[.active]:hidden" />
            <Icon name="tabler/x" class="hidden w-6 h-6 text-neutral-600 hover:text-neutral-900 group-[.active]:block" />
        </button>
        <div id="mobile-navbar-menu" class="hidden absolute sm:static top-full left-0 flex sm:flex flex-col sm:flex-row w-full sm:w-auto sm:items-center gap-4 sm:gap-8 p-4 pt-0 sm:p-0 bg-white shadow-lg sm:shadow-none">
            {menus.map(menu => {
                return <div class="relative">
                    <a href="#" class="group flex items-center justify-between sm:justify-start gap-2 text-neutral-900 hover:text-blue-600" data-toggle={menu.children && `#${menu.id}-children`}>
                        {menu.name}
                        {menu.children && <Icon name="tabler/chevron-up" class="hidden group-[.active]:block" />}
                        {menu.children && <Icon name="tabler/chevron-down" class="block group-[.active]:hidden" />}
                    </a>
                    {menu.children && <div id={`${menu.id}-children`} class="hidden dev:flex dev:flex-col absolute z-10 top-8 left-0 w-full sm:w-fit py-2 bg-white shadow-lg rounded-lg border border-neutral-100">
                        {menu.children.map(child => <a href="" class="group/child flex items-center gap-4 py-4 px-6 hover:bg-neutral-50 whitespace-nowrap">
                            <Icon name={child.icon} class="w-8 h-8 text-blue-600" />
                            <div>
                                <span class="font-semibold group-hover/child:text-blue-600">{child.name}</span>
                                <p class="text-sm text-neutral-600">{child.description}</p>
                            </div>
                        </a>)}
                    </div>}
                </div>
            })}
            <Button color="yellow" size="md" smSize="sm">Hubungi Kami</Button>
        </div>
    </div>
</nav>