---
import { Image } from "astro:assets";
import Badge from './app/Badge.astro'
import Card from './app/Card.astro'
import Link from './app/Link.astro'
import type { CollectionEntry } from "astro:content";

interface Props {
    tutorial: CollectionEntry<'tutorial'>
}

const { tutorial } = Astro.props
---

<Card class="space-y-4">
    <Image src={tutorial.data.thumbnail} alt={tutorial.data.title} class="rounded-lg" />
    
    <div class="space-y-2">
        <div class="flex items-center gap-2 text-red-900">
            {tutorial.data.tags.map(tag => <Link color='primary'>#{tag}</Link>)}
        </div>
        <h3 class="font-bold text-lg text-gray-900">
            <Link>{tutorial.data.title}</Link>
        </h3>
        <p class="text-gray-700">{tutorial.data.description}</p>
        <Badge>{10} Materi</Badge>
    </div>
</Card>