---
import { Image } from "astro:assets";
import Badge from './app/Badge.astro'
import Card from './app/Card.astro'
import Link from './app/Link.astro'
import type { ImageMetadata } from "astro";

interface Props {
    tutorial: {
        name: string
        description: string
        tags: string[]
        thumbnailSrc: ImageMetadata
        itemsCount: number
    }
}

const { tutorial } = Astro.props
---

<Card class="space-y-4">
    <Image src={tutorial.thumbnailSrc} alt={tutorial.name} class="rounded-lg" />
    
    <div class="space-y-2">
        <div class="flex items-center gap-2 text-red-900">
            {tutorial.tags.map(tag => <Link color='primary'>#{tag}</Link>)}
        </div>
        <h3 class="font-bold text-lg text-gray-900">
            <Link>{tutorial.name}</Link>
        </h3>
        <p class="text-gray-700">{tutorial.description}</p>
        <Badge>{tutorial.itemsCount} Materi</Badge>
    </div>
</Card>