---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Section from '../../components/Section.astro';
import SectionHeader from '../../components/SectionHeader.astro';
import FeatureCard from '../../components/feature/FeatureCard.astro';
import { getEntries } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import ServiceCard from '../../components/service/ServiceCard.astro';

export async function getStaticPaths() {
  const entries = await getCollection('layanan');
  return entries.map(entry => ({
    params: { id: entry.id }, props: { entry },
  }));
}

const { entry } = Astro.props;
const items: CollectionEntry<'layanan-item'>[] = await getEntries(entry.data.items)
---

<BaseLayout title={entry.data.title} description={entry.data.description} thumbnail={entry.data.thumbnail}>
  <main>
    <Section class="bg-blue-600">
      <div class="wrapper space-y-8">
        <SectionHeader level="1" color="white" title={entry.data.title} description={entry.data.description} />
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
          {items.map(item => <ServiceCard
            size="sm"
            service={item}
          />)}
        </div>
      </div>
    </Section>
    <Section>
      <div class="wrapper space-y-8">
        <SectionHeader color="black" size="sm" title="Kenapa Memilih Kami" description={entry.data.featureDescription} />
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8">
          {entry.data.features.map(feature => <FeatureCard icon={feature.icon} name={feature.name} />)}
        </div>
      </div>
    </Section>
  </main>
</BaseLayout>