---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SectionService from "../../components/service/ServiceSection.astro";
import Link from "../../components/Link.astro";

const title = 'Semua Layanan Kami'
const description = 'Kami menawarkan layanan terbaik dan terlengkap untuk memenuhi segala kebutuhan pembuatan website dan aplikasi Anda.'
const thumbnail = 'https://www.narakode.com/images/thumbnail.jpg'
---

<BaseLayout
    title={title},
    description={description},
    thumbnail={thumbnail}
>
    <SectionService title={title} startLevel="1" description={description}>
        <p slot="footer" class="text-white text-center text-lg md:text-xl md:leading-normal">
            Butuh layanan lain? <Link href="konsultasi" color="yellow-light">Konsultasikan dengan kami</Link>
        </p>
    </SectionService>
</BaseLayout>