---
import '@fontsource/ubuntu';
import "../styles/global.css";
import { SEO } from "astro-seo";
import Navbar from '../components/Navbar.astro';

interface Props {
	navbarBordered?: boolean
	title?: string
	description?: string
}

const { navbarBordered = false, title, description } = Astro.props

const config = {
	title: title ? `${title} - Narakode` : 'Narakode - Tempat Belajar Pemrograman dengan Materi Lengkap',
	description: description ?? 'Mari mulai belajar pemrograman dari level dasar hingga lanjutan untuk menjadi programmer profesional, mulai dari HTML, CSS, JavaScript, dan masih banyak lagi.',
	image: new URL('/banner.png', Astro.url.origin).href,
}
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">
		<SEO
			title={config.title}
			description={config.description}
			openGraph={{
				basic: {
					title: config.title,
					type: "website",
					image: config.image,
				},
				optional: {
					description: config.description
				}
			}}
			twitter={{
				card: 'summary',
				site: '@narakode',
				creator: "@narakode",
				title: config.title,
				description: config.description,
				image: config.image,
				imageAlt: config.title
			}}
		/>
	</head>
	<body class="bg-gray-100">
		<Navbar bordered={navbarBordered} />

		<slot />
	</body>
</html>